/* general game styling */
* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}


#title h1 {
padding: 10px;

  text-align: center;
  color: rgb(145, 214, 211);
  font-size: 2em;
  letter-spacing: 0.25em;
  font-weight: 700;
}

@media screen and (max-width: 1279px) {
  * {
    display: none;
  }
}

body {
  /* margin: auto;
  width: 25%; */
  background-color: #423e41;
}

/* #game-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

canvas {
  margin-left: 25%;
  border: 2px solid white;
  border-radius: 10px;
}



#clue-list,
#science-clues,
#tech-clues,
#engineering-clues {
  position: absolute;
  bottom: 100px;
  left: 10px;
  border: 2px solid black;
  height: 275px;
  width: 275px;
  background-color: #87486c;
  border-radius: 30%;
  padding: 10px;
  word-wrap: normal;
  font-size: 5;

}

#math-clues {
  position: absolute;
  bottom: 100px;
  left: 10px;
  border: 2px solid black;
  height: 400px;
  width: 275px;
  background-color: #53c7e4;
  border-radius: 10px;
  padding: 10px;
  word-wrap: normal;
  font-size: 5;
}


/* #clue-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
} */

#rules {
  position: absolute;
  /* top: 30px; */
  /* left: 20px; */
  border: 2px solid black;
  height: 400px;
  width: 400px;
  background-color: #ecc9dd;
  border-radius: 30px;
  padding: 10px;
  top: 200px;
  left: 800px;
  text-align: centered;
}
#game {

  position: absolute;
  /* top: 30px; */
  /* left: 20px; */
  border: 2px solid black;
  height: 350px;
  width: 450px;
  background-color: #ecc9dd;
  border-radius: 30px;
  padding: 10px;
  top: 100px;
  left: 450px;
  text-align: centered;

}
#dialogue {
  color: white;
  overflow: hidden;
  border-right: 0.15em solid yellow;
  white-space: nowrap;
  animation: typing 3s steps(20, end) forwards;
  font-size: 10;
  width: 800;
  background-color: black;
  text-align: center;
  padding: 10px;
}

#mad-libz {
  position: absolute;
  top: 150px;
  left: 600px;
  border: 2px solid black;
  height: 275px;
  width: 250px;
  background-color: #87486c;
  border-radius: 20px;
  padding: 10px;
  word-wrap: normal;
}

.hidden {
  display: none;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* 
#game {
  position: absolute;
  top: 250px;
  left: 250px;
  border: 2px solid black;
  height: 200px;
  width: 300px;
  text-align: center;
} */




/* pridle */
.pcontainer {
  width: 800px;
  height: 640px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: url("./public/assets/images/pridleflags/Aromantic.svg");
  background-size: 800x, 640px;
  background-repeat: no-repeat;
}
.black {
  width: 33.33333%;
  height: 50%;
  box-sizing: border-box;
  background-color: black;
}
.playerGuess {
  width: 500px;
  height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(245, 255, 63);
  background-repeat: no-repeat;
  font-size: 20px;
}
  /* memory game styling */
.container {
    width: 800px;
    height: 650px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 5px;
    perspective: 1000px;
    background-color: lightpink;
    border: 2px solid hotpink;
  }
  
  .card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    background-color: lightpink;
    border: 2px solid hotpink;
  }
  
  .card:active {
    transform: scale(.97);
    transition: transform 1s;
  }
  
  .card.flip {
    transform: rotateY(180deg);
  }
  
  .front, .back {
    width: 100%;
    height: 100%;
    /* padding: 10px; */
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;
  }
  
  .front {
    transform: rotateY(180deg);
  }

  .blink_me {
    animation: blinker 2s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  
  
  

